/* Basic CSS Boilerplate */

@font-face {
    font-family: font;
    src: url("/assests/BBHSansBartle-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,body {
  width: 100%;
  height: 100%;
}

.container{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(135deg,#cf9aff,#95c0ff);
    color: white;
    padding-top: 4%;
    padding-left: 8%;
}
.container h1{
    font-size: 2rem;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-family: font;
}

.container h1 img{
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.container button{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #ffffff51;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}
.container button img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.container button:hover{
    background-color: #ffffff66;
}



.notes-container .input-box{
    position: relative;
    width: 100%;
    max-width: 400px;
    min-height: 150px;
    background: #fff;
    color: #333;
    padding: 20px;
    margin: 40px 0;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    cursor: text;
}

.input-box .text {
    width: 100%;
    height: 100%;
    outline: none;
}

.input-box i{
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}